//
// Buttons
// --------------------------------------------------

button::-moz-focus-inner { border: 0; padding: 0; }
.btn {
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0; // For input.btn
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  white-space: nowrap;
  color: #fff;
  @include user-select(none);
  font-family: 'Lato';
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  padding: 9px 20px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  &:before, &:after {
    display: none;
  }
}


.btn-arvo {
  font-family: 'Arvo';
  font-weight: 700;
}


.btn-block {
  display: block;
  width: 100%;
}




// BTN SIZE
// --------------------------------------------------

.btn-xxs {
  border-radius: 2px;
  font-weight: 700;
  font-size: 10px;
  padding: 3px 15px;
  height: 23px;
  line-height: 15px;
}
.btn-xs {
  border-radius: 2px;
  font-size: 10px;
  height: 30px;
  padding: 8px 15px;
  line-height: 12px;
}
.btn-sm {
  border-radius: 2px;
  font-size: 10px;
  height: 34px;
  padding: 9px 30px;
  line-height: 14px;
}

.btn-lg {
  border-radius: 0;
  font-size: 22px;
  padding: 11px 30px;
  height: 54px;
  line-height: 30px;
}

// BTN COLOR
// --------------------------------------------------


.btn-blue {
  border: 1px solid #2a90c4;
  background: #2a90c4;
  &:hover {
    background: #167db7;
    border-color: #167db7;
    text-decoration: none;
  }
}
.btn-blue-dark {
  border: 1px solid #167db7;
  background: #167db7;
  &:hover {
    background: #003d77;
    border-color: #003d77;
    text-decoration: none;
  }
}
.btn-blue-border {
  border: 1px solid #2a90c4;
  background: transparent;
  color: #2c4552;
  &:hover {
    background: #2a90c4;
    color: #fff;
    text-decoration: none;
  }
}
.btn-blue-text {
  color: #2a90c4;
}

.btn-yellow-border {
  color: #f2fd95;
  border: 1px solid #f2fd95;
  background: transparent;
  &:hover {
    background: #c9d46c;
    border-color: #c9d46c;
    text-decoration: none;
    color: #fff;
  }
}
.btn-gray {
  color: #2c4552;
  border: 1px solid #a6c1cf;
  background: #a6c1cf;
  &:hover {
    background: #7c97a5;
    border-color: #7c97a5;
    text-decoration: none;
    color: #fff;
  }
}



.btn-gray-dark {
  background: #3a4c59;
  border: 1px solid #3a4c59;
  &:hover {
    background: #0f212e;
    border-color: #0f212e;
    text-decoration: none;
    color: #fff;
  }
}