.content {
	margin-bottom: 50px;
}
.sidebar {
	width: (266 / 976) * 100%;
	float: right;
	margin-bottom: 50px;
}
.main-content {
	padding-right: 18px;
	width: (710 / 976) * 100%;
	float: left;
}
.two-column {
	padding-top: 50px; 
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	} 
}
.img-style {
	border: 1px solid #e7e7e7;
	img {
		display: block;
		height: auto;
		width: 100%;
		margin: auto;
	}
	+ .line {
		margin-top: 15px;
	}
}

.top-content h1 {
	color: #3a4c59;
}
.line {
	background: #2a90c4;
	height: 4px;
	width: 68px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 17px 0;
}
.top-content {
	padding-bottom: 34px;
	.img-style {
		float: left;
		margin: 0 25px 5px 0;
	}
}
.col {
	font-family: 'Arvo';
	font-size: 49px;
	font-weight: 700;
	line-height: 49px;
	margin-bottom: 8px;
	margin-top: 21px;
}
.block-style {
	color: #2a90c4;
	background: #f6f7f7;
	text-align: center;
	overflow: hidden;
	display: table;
	width: 100%;
	h2 {
		color: inherit;
		margin: 0px 0 18px 0;
	}
	> div {
		display: table-cell;
		position: relative;
		width: 1%;
		&:after {
			content: " ";
			display: block;
			position: absolute;
			top: 32px;
			left: 0; 
			bottom: 32px;
			width: 1px;
			background: #c5c9c9;
		}
		&:first-child {
			&:after {
				display: none;
			}
		}
	}
}

.col-reviews {
	margin-top: -18px;
	margin-bottom: 22px;
}

.rating {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	list-style: none;
	margin: 0 0 0 13px;
	color: #f1c40f;
	text-shadow: 0 1px #e68600;
	font-size: 17px;
	li {
		float: left;
		margin-right: 7px;
		opacity: 0.34;
		&.active {
			opacity: 1;
		}
	}
}
.rating-light{
	text-shadow: none;
	margin: 0 0 0 4px;
	li{
		color: #898876;
		opacity: 1;
		margin-right: 4px;
		&.active{
			color: #dacf27;
		}
	}
}
.rating-small{
	font-size: 14px;
}


// reviews
.reviews {
	border: 1px solid #dfdfdf;
	padding: 48px 0 9px 0;
	p {
		margin: 0;
	}
}
.user-img {
	width: 102px;
	height: 102px;
	margin-left: 40px;
	float: left;
	border-radius: 100%;
	img {
		display: block;
		height: 100%;
		width: 100%;
		border-radius: 100%;
	}
}
.reviews-content {
	margin-left: 163px;
	padding-right: 35px;
}
.one-reviews {
	margin-bottom: 50px;
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	}
}
.date {
	font-size: 13px;
	font-weight: 700;
	color: #9696a6;
	font-family: 'Arvo';
}
.dot {
	margin: 0 7px;
}
.reviews-content-top {
	margin-bottom: 3px;
	top: -6px;
	position: relative;
	> div {
		display: inline-block;
		vertical-align: bottom;
	}
}

// img-style-group

.img-style-group {
	overflow: hidden;
	margin: 0 -15px 115px;
	list-style: none;
	padding: 0;
	text-align: center;
	li {
		padding: 0 15px 20px;
		float: left;
		width: 25%;
	}
	.img-style {
		margin-bottom: 10px;
	}
}

.listing-title {
	color: #454553;
	font-weight: 700;
	font-size: 19px;
	font-family: "Arvo";
}
.listing-info {
	font-size: 13px;
	color: #6e6e86;
	font-family: "Arvo";
	font-weight: 700;
}


.table-link {
	overflow: hidden;
	text-align: center;
	a {
		display: block;
		text-decoration: none;
		height: 120px;
		border-right: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		width: 33.3333%;
		float: left;
		-webkit-transition:background-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition:background-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition:background-color ease-in-out .15s,box-shadow ease-in-out .15s;
		padding: 0 5px;
		&:nth-child(3n + 1) {
			border-left: 1px solid #e1e1e1;
		}
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {
			border-top: 1px solid #e1e1e1;
		}
		&:hover {
			background: #2a90c4;
			.wrap-icon {
				color: #fff;
			}
			.h4 {
				color: #fff;
			}
		}
		.h4 {
			-webkit-transition:background-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition:background-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition:background-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
	}
}

.wrap-icon {
	color: #373737;
	display: block;
	height: 78px;
	overflow: hidden;
	-webkit-transition:background-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:background-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:background-color ease-in-out .15s,box-shadow ease-in-out .15s;
	i {
		display: inline-block;
		font-size: 46px;
		margin: 21px 0 0;
	}
	.icon-Gardencare {
		font-size: 46px;
		margin: 27px 0 0;
	}
	.icon-Lawnmowing {
		font-size: 44px;
		margin: 22px 0 0;
	}
	.icon-Lawncare {
		font-size: 46px;
		margin: 29px 0 0;
	}
	.icon-Gardendesign {
		font-size: 40px;
		margin: 27px 0 0 0;
	}
	.icon-HedgingNPruning {
	    font-size: 46px;
	    margin: 21px 0 0;
	}
	.icon-GutterCleaning {
		font-size: 45px;
		margin: 23px 0 0;
	}
}
.contact-form {
	border-top: 4px solid #2a90c4;
	background: #f4f5f5;
	text-align: center;
	textarea {
		width: 100%;
		height: 210px;
		border: 1px solid #dfdfdf;
		background: #fff;
		border-radius: 0;
		text-align: left;
		font-family: 'Lato';
		font-style: italic;
		font-size: 13px;
		padding: 14px 16px;
		color: #454553;
		-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		@include placeholder(#454553);
		&:focus {
			border-color: #203348;
		}
	}
	h2 {
		margin-bottom: 5px;
	}
	h4 {
		margin-bottom: 18px;
	}
}
.contact-form-content {
	padding: 20px 20px 22px;
}

.sum {
	font-size: 49px;
	font-weight: 700;
	font-family: 'Arvo';
	line-height: 49px;
	margin-bottom: 5px;
	white-space: nowrap;
}
.job-profile {
	display: table;
	width: 100%;
	> div {
		display: table-cell;
		vertical-align: top;
		&:first-child {
			width: 100%;
		}
	}
	.top-content {
		padding-bottom: 29px;
	}
}
.job-profile-budget {
	text-align: right;
	padding-top: 20px;
	padding-left: 10px;
}
.time-group-posted {
	font-size: 13px;
	font-family: 'Arvo';
	font-weight: 700;
	line-height: 31px;
	overflow: hidden;
}
.group-posted {
	float: left;
	color: #167db7;
	background: #f1f1f1;
	padding: 0 35px;
	margin-right: 8px;
}
.time-posted {
	color: #6d7e8a;
}

.directory-map {
	height: 356px;
	margin-bottom: 30px;
}
.view {
	.icon-bottom {
		font-size: 8px;
		margin-left: 8px;
	}
}
.nav-tabs {
	margin: 0 0 12px 0;
	background: #d7e3e3;
	list-style: none;
	padding: 0;
	overflow: hidden;
	text-align: center;
	li {
		border-left: 1px solid #c7caca;
		width: 16.666666%;
		float: left;
		height: 125px;
		-webkit-transition:background-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition:background-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition:background-color ease-in-out .15s,box-shadow ease-in-out .15s;
		&:first-child {
			border-left: none;
		}
		&.active, &:hover {
			background: #2a4655;
			.nav-tabs-title {
				> span {
					color: #fff;
				}
			}
			i {
				color: #277ca7;
			}
		}
	}
	a {
		display: block;
		height: 100%;
		text-decoration: none;
		padding: 0 5px;
	}
	.nav-tabs-title {
		display: block;
		font-size: 0;
		line-height: 0;
		> span {
			font-size: 13px;
			color: #2a90c4;
			font-family: 'Arvo';
			font-weight: 700;
			line-height: 16px;
			display: inline-block;
			vertical-align: middle;
			-webkit-transition:color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition:color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition:color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
		&:after {
			content: " ";
			display: inline-block;
			vertical-align: middle;
			height: 32px;
		}
	}
	i {
		color: #335f75;
		display: block;
		font-size: 20px;
		height: 74px;
		-webkit-transition:color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition:color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition:color ease-in-out .15s,box-shadow ease-in-out .15s;
		&:before {
			display: inline-block;
		}
	}
	.icon-MyJobs10::before {
		font-size: 38px;
		margin-top: 29px;
	}
	.icon-MyJobs2::before {
		font-size: 37px;
		margin-top: 30px;
	}
	.icon-MyJobs3::before {
		font-size: 37px;
		margin-top: 35px;
	}
	.icon-2_png::before {
		font-size: 45px;
		margin-top: 30px;
	}
	.icon-MyJobs7::before {
		font-size: 36px;
		margin-top: 36px;
	}
	.icon-MyJobs5::before {
		font-size: 37px;
		margin-top: 34px;
	}
}

.table-style {
	width: 100%;
	border-collapse:collapse;
	th {
		text-align: left;
		font-size: 14px;
		color: #3a4c59;
		font-weight: 400;
		font-family: 'Arvo';
		height: 50px;
		padding: 5px;
		background: #fff;
		border: none;
		&:first-child {
			padding-left: 20px;
		}
		&:last-child {
			padding-right: 20px;
		}
	}
	.h5 {
		font-size: 11px;
		color: #3a4c59;
		line-height: 12px;
	}
	.h6 {
		font-size: 9px;
		color: #556b76;
		&.text-primary {
    		color: #2a90c4;
		}
	}
	td {
		padding: 5px;
		height: 60px;
		background: #f1f4f5;
		border: none;
		position: relative;
		&:first-child {
			padding-left: 20px;
		}
		&:last-child {
			padding-right: 20px;
		}
	}
	tbody {
		tr:nth-child(2n +1) {
			td {
				background: #f9fafa;
			}
		}
	}
}
.tag {
	font-size: 7px;
	font-weight: 700;
	font-family: 'Arvo';
	color: #fff;
	min-width: 84px;
	padding: 0 10px;
	line-height: 13px;
	border-radius: 7px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	text-align: center;
}
.posted {
	color: #9ca9a9;
	font-size: 8px;
	font-weight: 700;
	font-family: 'Arvo';
	font-style: italic;
	display: inline-block;
	vertical-align: middle;
}
.wrap-table-style {
	margin: -19px -28px -17px;
}
.next-link {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	i {
		color: #335f75;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -4px;
		margin-top: -7px;
	}
	&:hover {
		background: #335f75;
		i {
			color: #fff;
		}
	}
}
.width-next-link {
	width: 60px;
}
.number-table {
	font-size: 26px;
	color: #2a4654;
	font-weight: 400;
	font-family: 'Arvo';
}
.date-table {
	font-size: 10px;
	color: #2a4654;
	font-weight: 700;
	font-family: 'Arvo';
}

.link-text {
	color: #3a4c59;
	font-size: 8px;	
	line-height: 10px;
}

.table-item-title {
	color: #3a4c59;
	font-size: 14px;
	font-weight: 400;
	font-weight: 'Arvo';
	padding: 17px 20px;
	background: #fff;
	line-height: 16px;
}
.table-item {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		background: #f1f4f5;
		padding: 10px 20px;
		position: relative;
		overflow: hidden;
		min-height: 50px;
		&:nth-child(2n +1) {
			background: #f9fafa;
		}
	}
	.next-link {
		width: 60px;
	}

}

.table-item-img {
	width: 98px;
	float: left;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}
.table-item-table {
	margin-left: 125px;
	margin-right: 104px;
	margin-top: 6px;
	p:last-child {
		margin-bottom: 0;
	}
}
.table-item-button {
	position: absolute;
	width: 84px;
	right: 20px;
	top: 50%;
	margin-top: -21px;
	text-align: center;
}
.latest-jobs-content {
	margin: 10px 60px 10px 0;
}
.notifications-jobs-content {
	margin: 5px 60px 5px 0;
	.comment-info {
		margin-bottom: 0;
	}
}
.comment-info {
	font-size: 11px;
	font-weight: 700;
	margin-bottom: 10px;
}
.table-item-table  h4 {
	margin-bottom: 3px;
}
.notification-text h4 {
	font-size: 13px;
}
.recent-reviews {
	background: #fdfdfd;
	border: 1px solid #d7d7d7;
	margin-bottom: 3px;
	.rating-block {
		text-align: center;
		float: left;
		width: 182px;
		padding: 10px;
	}
}
.total {
	font-size: 12px;
	color: #2c3032;
}
.recent-reviews-content {
	padding: 16px 0;
	p {
		font-size: 12px;
		color: #3a4c59;
		font-family: 'Arvo';
		font-weight: 400;
		line-height: 23px;
		margin-bottom: 3px;
	}
	.review-on {
		font-size: 10px;
		font-weight: 700;
		font-family: 'Arvo';
		color: #3a4c59;
		margin-bottom: 5px;
	}
	h2 {
		margin-bottom: 2px;
	}
	.btn {
		margin-bottom: 4px;
	}
}
.recent-reviews-content {
	margin-left: 204px;
	margin-right: 10px;
}

.row {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 15px;
	&:after {
		content: " ";
		display: table;
		width: 100%;
	}
	+ .h3 {

	}
}
.col6 {
	float: left;
	width: 50%;
	padding: 0 5px;
}
.col4 {
	float: left;
	width: 33.3333%;
	padding: 0 5px;
}
.col12 {
	float: left;
	width: 100%;
	padding: 0 5px;
}

.form-style {
	padding-top: 17px;
	.form-control {
		font-size: 14px;
		border-width: 2px;
		height: 45px;
		padding: 9px 15px;
	}
	textarea.form-control {
		height: 102px;
		width: 100% !important;
	}
	.ik_select_link {
		font-size: 14px;
		height: 45px;
		border-width: 2px;
		padding: 9px 15px;
	}
	.h3 {
		margin-bottom: 9px;
	}
	label {
		font-family: 'Arvo';
		color: #3a4c59;
		font-weight: 400;
		margin: 5px 0 9px 0;
		display: block;
	}
	.btn {
		min-width: 144px;
		margin-bottom: 48px;
	}
}
.form-style-block {
	padding-bottom: 1px;
	margin-bottom: 16px;
}
.checkbox {
	font-size: 12px;
	color: #3a4c59;
	margin: 0;
	input {
		display: none; 
		+ i {
			display: inline-block;
			vertical-align: top;
			height: 16px;
			width: 16px;
			border: 1px solid #b7b7b7;
			border-radius: 1px;
			background: #fff;
			cursor: pointer;
			position: relative;
			margin-right: 7px;
			&:before {
				display: block;
				font-size: 14px;
				left: 1px;
				position: absolute;
				top: -1px;
				opacity: 0;
			}
		}
		&:checked {
			+ i:before {
				opacity: 1;
			}
		}
	}
}
.radio {
	font-size: 12px;
	color: #3a4c59;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	input {
		display: none; 
		+ i {
			display: inline-block;
			vertical-align: top;
			height: 16px;
			width: 16px;
			border: 2px solid #a1a1a1;
			background: #e1e1e1;
			cursor: pointer;
			position: relative;
			margin-right: 7px;
			border-radius: 100%;
		}
		&:checked {
			+ i {
				background: #2a90c4;
				border-color: #4a4a4a;
			}
		}
	}
}
.checkbox-list {
	padding: 10px 0 30px 0;
	> div {
		margin-bottom: 17px;
	}
}

.rating-big {
	margin: 0 0 16px 0;
	i {
		font-size: 28px;
	}
}
.form-style .radio {
	display: inline-block;
	vertical-align: top;
	margin-right: 22px;
}
.tabs-style {
	margin: 0;
	padding: 0;
	max-width: 508px;
	border-bottom: 1px solid #cccccc;
	list-style: none;
	padding-top: 10px;
	margin-bottom: 30px;
	&:after {
		content: " ";
		display: table;
		width: 100%;
	}
	li {
		float: left;
		background: #efefef;
	}
	a {
		font-size: 16px;
		line-height: 37px;
		color: #98a3af;
		font-family: 'Arvo';
		font-weight: 700;
		padding: 0 22px;
		display: block;
		padding-top: 5px;
		margin-top: -3px;
	}
	.active {
		a {
			background: #fff;
			margin-top: -5px;
			border: 1px solid #cccccc;
			border-bottom-color: #fff;
			position: relative;
			z-index: 2;
			top: 1px;
		}
	}
}
.one-column {
	padding-top: 30px;
	padding-bottom: 58px;
	.top-content {
		padding-bottom: 10px;
	}
	.item-content {
		min-height: 160px;
		position: relative;
		margin-bottom: 26px;
		padding: 0;
		.img-style {
			width: 178px;
		}
		.item-content-right {
			margin-left: 200px;
			margin-right: 130px;
			h3 {
				margin-bottom: 10px;
				margin-top: 14px;
			}
		}
	}
}
.button-right {
	position: absolute;
	top: 58px;
	right: 0;
	width: 123px;
	.btn {
		margin-bottom: 10px;
	}
}
.pagination {
	border-radius: 1px;
	background: #ebebeb;
	font-size: 11px;
	overflow: hidden;
	list-style: none;
	padding: 0 20px;
	margin: 10px 20px 0;
	display: inline-block;
	line-height: 35px;
	color: #8d979c;
	font-weight: 700;
	font-family: 'Arvo';
	li {
		float: left;
		margin: 0 6px;
	}
	a {
		color: inherit;
	}
	.active {
		a {
			color: #2a90c4;
		}
	}
}

@media (max-width: 767px) {
	.main-content {
		float: none;
		width: 100%;
		padding: 0;
	}
	.sidebar {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.top-content .img-style {
		width: 100%;
		float: none;
		margin: 0 0 10px 0;
	}
	.two-column {
		padding-top: 20px;
	}
	.content {
		margin-bottom: 20px;
	}
	.col {
		font-size: 28px;
		line-height: 28px;
	}
	.block-style h2 {
		font-size: 12px;
	}
	.top-content {
		padding-bottom: 8px;
	}
	.img-style-group li {
		width: 50%;
	}
	.img-style-group {
		margin-bottom: 45px;
	}
	.wrap-icon {
		height: 70px;
		i {
			display: inline-block;
			font-size: 46px;
			margin: 13px 0 0;
		}
		.icon-Gardencare {
			font-size: 46px;
			margin: 19px 0 0;
		}
		.icon-Lawnmowing {
			font-size: 44px;
			margin: 14px 0 0;
		}
		.icon-Lawncare {
			font-size: 46px;
			margin: 21px 0 0;
		}
		.icon-Gardendesign {
			font-size: 40px;
			margin: 19px 0 0 0;
		}
		.icon-HedgingNPruning {
		    font-size: 46px;
		    margin: 13px 0 0;
		}
		.icon-GutterCleaning {
			font-size: 45px;
			margin: 15px 0 0;
		}
	}
	.user-img {
	    height: 50px;
	    margin-left: 10px;
	    width: 50px;
	}
	.reviews-content {
	    margin-left: 70px;
	    padding-right: 10px;
	}
	.one-reviews {
		margin-bottom: 40px;
	}
	.reviews {
		padding: 40px 0 0 0;
	} 
	.sum {
		font-size: 24px;
		line-height: 24px;
	}
	.job-profile-budget .h2 {
		font-size: 12px;
	}
	.group-posted {
		padding: 0 15px;
	}
	.job-profile {
		display: block;
	}
	.job-profile > div {
		display: block;
		text-align: left;
	}
	.job-profile-budget {
		padding: 0 0 30px 0;
	}
	.job-profile .top-content {
		padding-bottom: 15px;
	}
	.job-profile-budget > div {
		display: inline-block;
		vertical-align: baseline;
		margin-bottom: 0;
	}
	.sum {
		margin-right: 8px;
	} 
} 