.content {
	margin-bottom: 50px;
}
.sidebar {
	width: 266px;
	float: right;
}
.main-content {
	margin-right: 284px;
}
.two-column {
	padding-top: 50px;
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	}
}
.img-style {
	float: left;
	border: 1px solid #e7e7e7;
	margin: 0 25px 5px 0;
	img {
		display: block;
		height: auto;
		width: 100%;
		margin: auto;
	}
}

.top-content h1 {
	color: #3a4c59;
}
.line {
	background: #2a90c4;
	height: 4px;
	width: 68px;
	display: inline-block;
	vertical-align: top;
	margin: 15px 0 17px 0;
}
.top-content {
	padding-bottom: 34px;
}
.col {
	font-family: 'Arvo';
	font-size: 49px;
	font-weight: 700;
	line-height: 49px;
	margin-bottom: 8px;
	margin-top: 21px;
}
.block-style {
	color: #2a90c4;
	background: #f6f7f7;
	text-align: center;
	overflow: hidden;
	display: table;
	width: 100%;
	h2 {
		color: inherit;
		margin: 0px 0 18px 0;
	}
	> div {
		display: table-cell;
		position: relative;
		width: 1%;
		&:after {
			content: " ";
			display: block;
			position: absolute;
			top: 32px;
			left: 0; 
			bottom: 32px;
			width: 1px;
			background: #c5c9c9;
		}
		&:first-child {
			&:after {
				display: none;
			}
		}
	}
}

.col-reviews {
	margin-top: -18px;
}

.rating {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	list-style: none;
	margin: 0 0 0 13px;
	color: #f1c40f;
	text-shadow: 0 1px #e68600;
	font-size: 17px;
	li {
		float: left;
		margin-right: 7px;
		opacity: 0.34;
		&.active {
			opacity: 1;
		}
	}
}