.directory-column {
	margin: auto;
	overflow: hidden;
	min-height: 100px;
}
.directory-left {
	float: left;
	/*width: (710 / 1260) * 100%;*/
	width: 67%;
}
.directory-right {
	float: left;
	/*width: (550 / 1260) * 100%;*/
	width: 33%;
	position: relative;
	#map {
		height: 970px;
	}
}
.filter-search {
	background: #ebebeb;
	padding: 10px 12px;
	> div {
		padding: 8px;
		float: left;
	}
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	}
}
.item-content-wrap {
	padding: 26px 0 4px 0;
}
.item-content {
	overflow: hidden;
	padding: 0 20px;
	margin-bottom: 22px;
	.img-style {
		float: left;
		width: 137px;
	}
	.item-content-right {
		margin-left: 155px;
	}
	h3 {
		font-size: 19px;
		margin: 4px 0 1px 0;
	}
	p {
		margin-bottom: 0;
	}
	.h6 {
		font-size: 12px;
		color: #6e6e86;
		margin-bottom: 8px;
		+ .h6 { 
			margin-bottom: 2px;
		}
	}
}
.item-content-sum .h3 {
	font-size: 20px;
	white-space: nowrap;
	padding-top: 6px;
}
.item-content-top {
	display: table;
	width: 100%;
	> div {
		display: table-cell;
		vertical-align: top;
		&:first-child {
			width: 100%;
		}
	}
}
.load-more-wrap {
	text-align: center;
	padding: 26px 0 44px 0;
}

.popup-map {
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.28);
	background: #fbfbfd;
	border: 1px solid #ddddde;
	padding: 15px 12px;
	width: 392px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
	.item-content {
		margin: 0;
		padding: 0;
	}
	.item-content .img-style {
		width: 107px;
	}
	.item-content .item-content-right {
		margin-left: 122px;
	}
}