.main-footer{
	background-color: #203348;
	padding: 30px 0;
}
.wrap-footer-lists{
	float: left;
	padding: 16px 0;
	max-width: 640px;
}
.footer-list{
	float: left;
	padding-right: 40px;
	max-width: 25%;
	&:last-child {
		padding-right: 0;
	}
	.h3{
		color: #47b4eb;
		margin: 0 0 4px 0;
	}
	ul{
		list-style: none;
		padding: 0;
		float: left;
		margin-right: 46px;
		+ul{
			padding-left: 30px;
			margin-right: 16px;
		}
		li{
			padding: 3px 0;
			a{
				color: #ffffff;
				font-size: 10px;
				text-decoration: none;
				line-height: 17px;
				text-transform: uppercase;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.phone{
	font-size: 35px;
	color: #ffffff;
	font-weight: 600;
	line-height: 32px;
	padding-top: 6px;
}
.mail{
	color: #43a8dc;
	font-size: 13px; 
	padding: 0 3px;
	a{
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			text-decoration: underline;
		}
	}
}
.footer-contacts{
	float: right;
	width: 270px;
}
.social-icons{
	list-style: none;
	padding: 0;
	margin-top: 11px;
	li{
		float: left;
		margin-right: 11px;
		a{
			text-decoration: none;
			color: #ffffff;
			&:hover {
				color: #47b4eb;
			}
		}
	}
	.icon{
		display: block;
	}
	.icon-facebook{
		font-size: 17px;
	}
	.icon-twitter{
		font-size: 18px;	
	}
	.icon-instagram{
		font-size: 16px;
		padding-top: 1px;
	}

}
.footer-logo{
	display: block;
}
@media (max-width: 1006px) and (min-width: 768px) {
	.footer-list{
		padding: 0;
		max-width: 100%;
		.h3{
			font-size: 16px;
		}
	}
	.phone{
		font-size: 29px;
		display: inline-block;
	}
	.mail{
		font-size: 11px;
		display: inline-block;
	}
	.wrap-footer-lists{
		text-align: justify;
		float: none;
		&:after{
			display: inline-block;
		}
	}
	.footer-list{
		display: inline-block;
		float: none;
		margin-right: 0;
	}
	.wrap-footer-lists  {
		max-width: 100%;
	}

	.footer-contacts{
		width: 100%;
		text-align: justify;
		> * {
			display: inline-block;
			vertical-align: middle;
			float: none;
		}
		&:after {
			display: inline-block;
			vertical-align: middle;
			content: " ";
			width: 100%;
		}
	}


}
@media (max-width: 767px){
	.footer-contacts {
		width: auto;
	}
	.main-footer{
		padding: 20px 0;
	}
	.footer-list{
		float: none;
		margin-right: 0;
		text-align: center;
		padding: 0;
		max-width: 100%;
		ul{
			float: none;
			margin-right: 0;
			+ ul{
				padding-left: 0;
			}
		}
	}
	.wrap-footer-lists {
		float: none;
	}
	.footer-contacts{
		float: none;
	}
	.footer-contacts{
		text-align: center;
	}
	.social-icons{
		display: inline-block;
	}
}
