.opacity-block{
	
	position: relative;
	

}
.bg-opacity-block{
	background-color: rgba(28, 131, 187, 0.9);
	padding: 31px 0;
}
.user-block{
	width: 142px;
	height: 142px;
	border: 7px solid #41aee1;
	border-radius: 100%;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	img{
		width: 100%;
		height: 100%;
		margin: auto;
		display: block;
	}
}
.title-large{
	font-size: 35px;
	color: #ffffff;
	font-family: "Arvo";
	line-height: 39px;
}
.user-block-text{
	display: inline-block;
	vertical-align: top;
	padding: 0 18px;
	&:after{
		height: 100%;
		min-height: 142px;
		content: "";
		vertical-align: middle;
		display: inline-block;
	}
	> div{
		vertical-align: middle;
		display: inline-block;
	}
	.btn{
		margin-top: 8px;
	}
} 
.top-block-info{
	padding: 47px 0;
}
.title-xlg{
	font-size: 57px;
	font-weight: normal;
	color: #ffffff;
}
.breadcrumbs{
	list-style: none;
	padding: 0;
	font-family: "Lato";
	font-size: 15px;
	text-transform: uppercase;
	color: #f2fd95;
	letter-spacing: 2.1px;
	font-weight: 600;
	margin-bottom: 27px;
	li{
		float: left;
	}
	a{
		color: #f2fd95;
		text-decoration: none;
		position: relative;
		padding-right: 22px;
		&:hover{
			text-decoration: underline;
		}
		&:after{
			content: ">";
			position: absolute;
			top: 0;
			right: 5px;
		}
	}
}