.visible-xs {
	display: none;
}
@media (max-width: 1300px) {
	.directory-left {
		width: 100%;
		float: none;
	}
	.directory-right {
		width: 100%;
		float: none;
	}
	.directory-right #map {
		height: 400px;
	}
}
@media (max-width: 1006px) {

}
@media (max-width: 767px) {
	.main-nav ul {
		float: none;
	}
	.footer-list ul + ul {
		margin-right: 0;
	}
	.nav-tabs {
		display: none;
	}
	.visible-xs {
		display: block;
	}
	.left-column {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.main-content-column{
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.nav-tabs li {
		width: 33.33333%;
		margin-bottom: 5px;
		position: relative;
		&:nth-child(3n + 1) {
			border-left: none;
		}
		&:after {
			content: " ";
			display: block;
			height: 5px;
			left: -2px;
			right: -2px;
			bottom: -5px;
			background: #fff;
			position: absolute;	
		}
	}
	.filter-search > div {
		width: 100% !important;
	}
	.item-content .img-style {
		width: 60px;
	}
	.item-content .item-content-right {
		margin-left: 70px;
	}
	.recent-reviews .rating-block {
		float: none;
		width: auto;
	}
	.recent-reviews-content {
		margin: 10px;
	}
	.border-block {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 -15px 20px;
	}
	.col6 {
		float: none;
		width: 100%;
	}
	.border-block {
		.h2 {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.border-block .thin-line::after {
		left: -10px;
		right: -10px;
	}
	.tabs-style a {
		font-size: 12px;
		line-height: 27px;
		padding: 5px 14px 0;
	}
	.one-column .item-content .img-style {
		width: 60px;
	}
	.one-column .item-content .item-content-right {
		margin-right: 0;
		margin-left: 70px;
	}
	.one-column .item-content .item-content-right h3 {
		margin-top: 0;
	}
	.button-right {
		position: static;
		width: 100%;
		margin-top: 20px;
	}
	.pagination {
		margin-left: 0;
		margin-right: 0;
		padding: 0 5px;
	}
	.table-item-img {
		width: 60px;
	}
	.table-item-table {
		margin: 0 0 0 70px;
	}
	.latest-jobs-content {
		margin: 10px 60px 10px 0;
	}
	.notifications-jobs-content {
	    margin: 5px 60px 5px 0;
	}
	.table-item-button {
		margin: 20px 0 0 0;
		position: static;
		width: 100%;
		a {
			width: 100%;
		}
	}
	.wrap-table-style {
		margin-left: -10px;
		margin-right: -10px;
	}
	.col4 {
		width: 100%;
		float: none;
	}
	.table-style thead, .table-style .thead {
		display: none;
	}
	.table-style {
		display: block;
		width: 100%;
		text-align: center;
		tr, td, tbody, .tr, .td, .tbody {
			display: block;
			width: 100%;
			height: auto;
		}
		td, .td {
			padding: 5px;
		}
		td:first-child, td:last-child, .td:first-child, .td:last-child {
			padding: 5px;
		}
		tr, .tr {
			margin-bottom: 20px;
		}
	}
	.table-style td.width-next-link, .table-style .td.width-next-link {
		height: 40px;
	}
	.table-style td.width-next-link .next-link, .table-style .td.width-next-link .next-link {
		background: #335f75;
		i {
			color: #fff;
		}

	}
	.user-block {
		height: 100px;
		width: 100px;
		border: 5px solid #41aee1;
	}
	.user-block-text {
		padding: 0;
		display: block;
	}
	.opacity-block {
		text-align: center;
	}
	.bg-opacity-block {
		padding: 15px 0;
	}
	.user-block-text:after {
		display: none;
	}
	.title-large {
		font-size: 25px;
	}
	.title-xlg {
		font-size: 25px;
		text-align: left;
	}
	.breadcrumbs {
		margin-bottom: 0;
	}
	.top-block-info {
		padding: 20px 0;
	}
	.slider {
		display: none;
	}
	.left-column {
		display: none;
	}
	.opacity-block {
		background-image: none !important;
	}
}